<div style="padding:5px;">
    <form>
        <div class="form-group">
            <label for="tag">Category</label>
            <select class="form-control">
                <option value="default">Select a Category...</option>
                <option *ngFor="let cat of categories">{{cat}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="tag">Tag</label>
            <input type="text" class="form-control" id="tag" placeholder="enter a tag, separate by comma">
        </div>
        <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="pass" placeholder="enter a password">
        </div>
        <div class="form-group">
            <label for="password1">Confirm Password</label>
            <input type="password" class="form-control" id="pass2" placeholder="re-enter your password">
        </div>
        <p class="tpbutton btn-toolbar text-center pull-right">
            <a class="btn navbar-btn btn-primary" href="#">SAVE</a>
            <a class="btn navbar-btn btn-warning" href="#">CLEAR</a>
        </p>
    </form>
</div>